.body-modelo {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.590);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudoModelo {
    width: 576px;
    height: 547px;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: flex-end;

}
.bTransacoes{
    width: 100%;
    margin-top: 10px;
    color:rgb(112, 109, 109);
    /* gap: 20px; */
    display: flex;
    justify-content: space-between;
}
.Inserirdados{
    width: 98%;
    color:rgb(185, 174, 174);
    background-color:rgb(112, 109, 109);
    margin-top: 20px;
}

.modelForm{

    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 40px;
    width: 100%;

}
.Inserirdados{
margin-top: auto;
}