 .card{

    width: 300px;
    height: 150px;
    background-color: rgb(221, 141, 141);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 10px;
    
  
  }
  
  .container-card-icon {
    width: 90px;
    height: 100px;
    background-color: rgb(236, 163, 163);
    border-radius: 45%; 
    display: flex;
    align-items: center;
    justify-content:space-around;
  }

  
  .cardBaixo{

    width: 600px;
    height: 150px;
    background-color: rgb(221, 141, 141);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 10px;
    
  
  }

  .texto {
    text-align: justify;
    color:rgb(46, 28, 28);
    
    }

.textobaixo {
  text-align: justify;
  color:black;
  font-weight: bold;
  font-size: 20px;

  }
      
      

.valorBaixo{
  color:rgb(19, 3, 3);
  font-size: 15px;
  }
  

.saidaBaixo{
  margin-left: auto; 
  font-size: 15px;

  
  
  
}

.valor {
  color:rgb(19, 3, 3);
  font-weight:bold;
  font-size: 25px;
  text-align: justify;
  
}
.red {
  color: red;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .card {
    flex: 1;
  }
}