 .card{

    width: 300px;
    height: 150px;
    background-color: rgb(221, 141, 141);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 10px;
    
  
  }
  
  .container-card-icon {
    width: 90px;
    height: 100px;
    background-color: rgb(236, 163, 163);
    border-radius: 45%; 
    display: flex;
    align-items: center;
    justify-content:space-around;
  }

  
  .cardBaixo{

    width: 600px;
    height: 150px;
    background-color: rgb(221, 141, 141);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 10px;
    
  
  }

  .texto {
    text-align: justify;
    color:rgb(73, 47, 47)
    
    }

.textobaixo {
      text-align: justify;
      color:rgb(209, 12, 12)
      
}