* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  width: 100vw;
  background-color: rgb(44, 7, 7);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.empresa {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 200px;
  padding: 10px 20%;
  color: white;
  position: relative;
  z-index: 1;
}

button {
  color: white;
  border-radius: 5px;
  height: 48px;
  width: 192px;
  background-color: rgb(61, 20, 20);
  border: 0;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 1;
}

.cards {
  width: 80%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 150px; 
  z-index: 2;
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 25%; 
  text-align: center;
  margin: 0 10px; 
}

.card h2 {
  margin-bottom: 10px;
  color: rgb(44, 7, 7);
}

.card p {
  font-size: 24px;
  color: rgb(44, 7, 7);
}
