* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
}

.empresa {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 200px;
  padding: 10px 5%;
  color: white;
  position: relative;
  z-index: 1;
  background-color: rgb(44, 7, 7);
}

button {
  color: white;
  border-radius: 5px;
  height: 48px;
  width: 192px;
  background-color: rgb(61, 20, 20);
  border: 0;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 1;
}

.cards {
  width: 90%;
  display: flex;
  position: absolute;
  top: 100px;
  z-index: 2;
  background-color: rgb(139, 66, 66);
  padding: 15px;
  text-align: center;
  margin: 0 10px; 
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  
}


.container-card-icon {
  width: 95px;
  height: 100px;
  background-color: rgb(236, 163, 163);
  border-radius: 45%; 
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.transacoes{
  color:rgb(63, 21, 21);
  flex-direction: column;
  align-items: center;
  
  
}


.gastos {
  /* margin top calcula altura de cards pai ou seja container-card dividido por 2 + o espaçamento que eu quero, ou seja 50px */
  margin-top: calc(90px + 50px);
  width: 100%;
  padding: 0px 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  }



.valorBaixo{
  color:rgb(19, 3, 3);
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .empresa {
      padding: 10px 20%;
    
    
  }

  .cards {
    width: 60%;

  }
  .container-card-icon, .gastos{
    width: 60%;

  }
  .gastos{
    padding: 0px 10%;
    
  }

}
